# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# Vite
.vite/

# coverage reports (if testing later)
coverage/